<!DOCTYPE html>
<html>

<head>
<title>Morshed Siddiqui</title>
<link rel="stylesheet" href="/stylesheet/homeStyles.css">
<link rel="stylesheet" href="../../photos/pictureStyle.css">
<meta name="author" content="Morshed Siddiqui">



</head>


    <body>
        <header> 

        <img id="HeaderPic" src="../../photos/headerPic.png" alt="Morshed Siddiqui">  <br>

         <a href="/"><button type="button">Home</button></a>
         <a href="about"><button type="button">About Me</button></a>
         <a href="contact"><button type="button">Contact Me</button></a>
         <a href="projects"><button type="button">Projects</button></a>
         <a href="services"><button type="button">Services</button></a>

            
    
        </header>
       

