<%- include('partials/header.ejs') %>
        <h1>Welcome to <%= title%> </h1>


        <p>   </p>
       <a href="myPhoto.jpg" target="_blank"><img id="profilePic" src="../../photos/myPhoto.jpg" alt="My Photo"></a>

       <p id="introPara">
        Hi there, <br>
        Welcome to my wedding photography portfolio! Explore our world of love and celebration
         through my lens. Thank you for being here; let's capture your love story together!
       </p>

       <h1>"Capturing Love, Creating Memories: Your Story, My Lens."</h1>





    
<%- include('partials/footer.ejs') %>
