<%- include('partials/header.ejs') %>
        <h1>Welcome to <%= title%> </h1>

      <img id="project pic" src="../../photos/DSC4.jpg" alt="My Photo">
      <br>

      <img id="project pic" src="../../photos/p03.JPG" alt="My Photo">
      <br>
      <img id="project pic" src="../../photos/rg1.jpg" alt="My Photo">
      <br>
      <img id="project pic" src="../../photos/rg3.jpg" alt="My Photo">
      <br>

    
<%- include('partials/footer.ejs') %>
